<html>
 <head>
   <title>Hello world</title>
     <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
      </head>
       <body>
          <form action="" method="post">
            <select name="type_id">
              <option value="1">重装系统</option>
              <option value="2">配件升级</option>
            </select>
            <select name="type_id1">
            <option value="3">硬件信息</option>
            <option value="4">系统信息</option>
            <input type="text" name="os">
            <input type="submit" value="提交">
           </form>
        </body>
    </title>
  </head>
</html>

