{% extends 'base.html' %}
{% block content %} 
<!-- Jumbotron -->
 <!-- <div class="jumbotron">
    <h1>Marketing stuff!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <a class="btn btn-large btn-success" href="#">Get started today</a>
                                                                                                                                                                        </div>
-->
  <div class="container">
  <table class="table-striped table-hover " width="1000" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="white">
   <tr>
   <td><div align="center">编号</div></td>
   <td><div align="center">申请人</div></td>
   <td><div align="center">申请类型</div></td>
   <td><div align="center">机房</div></td>
   <td><div align="center">创建时间</div></td>
   <td><div align="center">期望完成时间</div></td>
   <td><div align="center">完成时间</div></td>
   <td><div align="center">状态</div></td>
   <td><div align="center">详情</div></td>
   </tr>
   <tr> <td> </td></tr>
   <tr>
   <td ><div align="center"><a href="#">1</a></td>
   <td><div align="center">kerncai</div></td>
   <td><div align="center">服务器升级</div></td>
   <td><div align="center">IDC20</div></td>
   <td><div align="center">2013/7/9</div></td>
   <td><div align="center">2013/7/15</div></td>
   <td><div align="center">2013/7/15</div></td>
   <td><div align="center">操作中</div></td>
   <td><div align="center"><i class="icon-fire"></i></div></td>
<!--   <td><div align="center"><a href="#"><img src="/static/img/2.gif" width="15" height="15" /></a></div></td>-->
   </tr>
  <tr>
   <td ><div align="center"><a href="#">2</a></td>
   <td><div align="center">kerncai</div></td>
   <td><div align="center">服务器升级</div></td>
   <td><div align="center">IDC20</div></td>
   <td><div align="center">2013/7/9</div></td>
   <td><div align="center">2013/7/15</div></td>
   <td><div align="center">2013/7/15</div></td>
   <td><div align="center">操作中</div></td>
   <td><div align="center"><a href="#"><img src="/static/img/2.gif" width="15" height="15" /></a></div></td>
  </tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  <tr><td colspan="9">&nbsp;</td></tr>
  </table>
  </div>
   <!-- Example row of columns -->
   <!--<div class="row-fluid">
    <div class="span4">
     <h2>Heading</h2>
     <p> </p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
     <h2>Heading</h2>
     <p>onec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
     <h2>Heading</h2>
     <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>-->
{% endblock %}

