{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="masthead">
     <div class="navbar">
     <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
         <li><a href="/index/">Home</a></li>
         <li class="active"><a href="#">我的申请</a></li>
         <li><a href="/index/review">审核</a></li>
         <li><a href="/index/resource">备件资源</a></li>
         <li><a href="/index/post">申请须知</a></li>
         </ul>
       </div>
      </div>
    </div><!-- /.navbar -->
   </div>
                                                                                                                                                                     <!-- Jumbotron -->
 <div class="jumbotron">
    <table>
    <p valign="top" class="lead">很抱歉，系统未查询到您的申请记录！</p>
    <p> </p>
    <a valign="top" class="btn btn-large btn-success" href="/index/application">去申请</a>
    </table>
    </div>
{% endblock %}
